<configuration>

	<location path="files">
		<system.webServer>
		<directoryBrowse enabled="true" />
		</system.webServer>
	</location>
	
	<system.webServer>

		<defaultDocument enabled="true">
		  <files>
			<add value="tk.html" />
		  </files>
		</defaultDocument>


		<httpErrors errorMode="Detailed" />
		<asp scriptErrorSentToBrowser="true"/>
	
	  	<security>
			<requestFiltering>
		  		<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
	  	</security>

		<staticContent>
			<remove fileExtension=".svg" />
			<remove fileExtension=".eot" />
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
 			<remove fileExtension=".obj" />
			<remove fileExtension=".mtl" />
			<remove fileExtension=".glb" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml"  />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
 			<mimeMap fileExtension=".obj" mimeType="application/object" />
			<mimeMap fileExtension=".mtl" mimeType="application/object" />
			<mimeMap fileExtension=".glb" mimeType="application/object" />
		</staticContent>
		
	</system.webServer>
</configuration>